@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --background: hsl(0 0% 100%);
    --foreground: hsl(222.2 84% 4.9%);

    --virtues-primary: hsl(217 91% 60%);
    --virtues-primary-foreground: var(--virtues-primary);

    --vices-primary: hsl(271 91% 65%);
    --vices-primary-foreground: var(--vices-primary);
}

.virtues-theme {
    --background: var(--virtues-primary);
    --foreground: hsl(222.2 84% 4.9%);
    --primary: var(--virtues-primary);
    --primary-foreground: var(--virtues-primary-foreground);
}

.vices-theme {
    --background: hsl(0 0% 100%);
    --foreground: hsl(222.2 84% 4.9%);
    --primary: var(--vices-primary);
    --primary-foreground: var(--vices-primary-foreground);
}

.btn {
    background-color: hsl(var(--primary));
    color: hsl(var(--primary-foreground));
}

.habit-history-card {
    border-radius: 10px;
    padding: 1rem;
    background-color: var(--primary);
}

.app-layout {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
